@import '../template_files/stylus/imports'
@import 'nib'

// Declare all fonts first
fonts(open-sans, '300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
fonts(play, '400,700')
fonts(blockletter, '')
iconfont()
// Now declare global reset and all dependencies: base, headings, forms, etc
global-reset()
base()
headings()
forms()
widgets()
mobile()
segments()
responsive-segments()
demo()

// edit()

body, *
	font-family: open-sans
h1
h2
h3
h4
h5
h6
	font-family: open-sans

#contain
	position: relative
	margin: 0 auto
	max-width: lg
	min-height: 600px
	background-color: #FFF
	font-family: Play !important
	font-weight: normal

// Begin your custom styles here!

.add-icon
	position: relative
	display: inline-block
	width: 20px
	height: 20px
	margin-left: 10px
	vertical-align: -2%
	background-color: #444
	border-radius: 100%
	&:before
		content: ""
		position: absolute
		top: 9px
		left: 5px
		width: 10px
		height: 2px
		background-color: #84f1ff
	&:after
		content: ""
		position: absolute
		top: 5px
		left: 9px
		width: 2px
		height: 10px
		background-color: #84f1ff

.section-wrap
	margin: 60px 0

.tile-elem
	position: relative
	padding: 10px
	transition: all 0.17s ease-in-out
	cursor: pointer
	&:hover
		background-color: #efefef
	.actions
		position: absolute
		top: 0
		right: -12px
		width: 34px
		height: 50px
		opacity: 0
		transition: all 0.17s ease-in-out
		.delete-action
		.edit-action
			position: absolute
			font-family: 'wireframe-iconfont'
			speak: none
			font-style: normal
			font-weight: normal
			font-variant: normal
			text-transform: none
			line-height: 1
			color: #fff
			padding: 9px
			border-radius: 100%
			background-color: #8d8d8d
			z-index: 2
		.delete-action
			top: -9px
		.edit-action
			top: 30px
	&:hover
		.actions
			opacity: 1

a.undecorate
	text-decoration: none
	&:hover
		text-decoration: none
