extend __core__/default
include mixins
block content
	+panel().light
		+customer-content('Edit Customer', 'Save')
block script
	script.
		function setName() {
			var companyName = decodeURI(getUrlVars()['companyName']);
			$('.name-value .form-element').addClass('has-value');
			$('.name-value input').val(companyName);
		}

		setName();
		
		$('.back-btn').on('click', function() {
			history.back(-1);
		});
