extend __core__/default
include mixins
block content
	+panel().light
		h2 PDK
		div.clear-wrap
			h4.customers-section 
				| Customers
				a.undecorate(href="new-customer-toplevel.html")
					div.add-icon
		- var i = 0
		+loop(3)
			segment-elem.fourths
				+loop(4)
					x-cell
						div.clear-wrap.tile-elem
							div.actions
								i.icon-delete.delete-action
								i.icon-edit.edit-action(data-name=titles[i] + " Company")
							segment-elem.thirds
								x-minor
									a(href="lowerlevel-customers.html", data-name=titles[i] + " Company")
										+porthole(60)
								x-major
									a(href="lowerlevel-customers.html", data-name=titles[i] + " Company")
										p.name= titles[i++] + " Company"
		div.section-wrap
			h4
				| Cloud Nodes
				div.add-icon
		div.section-wrap
			h4
				| Permissions
				div.add-icon
block script
	script.
		$('.tile-elem .edit-action').on('click', function() {
			var companyName = $(this).attr('data-name');
			window.location.href = 'edit-customer-toplevel.html?companyName='+ companyName
		});
		
		$('a[data-name]').on('click', function(e) {
			var companyName = $(this).attr('data-name');
			e.preventDefault();
			window.location.href = 'lowerlevel-customers.html?companyName='+ companyName
		});
		
	
