extend __core__/default
include mixins
block content
	+panel().light
		h2#name
		div.clear-wrap
			h4.customers-section 
				| Customers
				a.undecorate(href="new-customer-lowerlevel.html")
					div.add-icon
		- var i = 0
		segment-elem.fourths
			+loop(2)
				x-cell
					div.clear-wrap.tile-elem
						div.actions
							i.icon-delete.delete-action
							i.icon-edit.edit-action(data-name=titles[i])
						segment-elem.thirds
							x-minor
								+porthole(60)
							x-major
								p.name= titles[i++]
		div.section-wrap
			h4
				| Cloud Nodes
				div.add-icon
		div.section-wrap
			h4
				| Permissions
				div.add-icon
					
block script
	script.
		var companyName = decodeURI(getUrlVars()['companyName']);
		$('#name').text(companyName);
		
		$('.tile-elem .edit-action').on('click', function() {
			var companyName = $(this).attr('data-name');
			window.location.href = 'edit-customer-lowerlevel.html?companyName='+ companyName
		});
