include ../template_files/pug/forms

mixin configure-customer-content(title, btnLabel)
  div(style="margin-bottom: 90px")
    +button({title: btnLabel, position: 'right'})#saveLink
  h3
    i.icon-arrow-left.back-btn
    span= title
  div.clear-wrap.name-value
    +input('Name')
  div.section-wrap
    h4 Credentials
    div.clear-wrap
      +checkbox("credentials", ["Use Mobile Credentials"])
  div.clear-wrap
    h4 Available Intercom Connections
    div.clear-wrap
      +checkbox("intercomConnections", ["Comelit", "Butterfly", "GoToDoor"])
  div.clear-wrap
    h4 Available Themes
    div.clear-wrap
      segment-elem.half
        x-cell
          +checkbox("themes", ["Vanilla Sky", "Rocky Road", "Mardi Gras", "Reckless Abandon"])
        x-cell
          +checkbox("themes2", ["Simply Green", "Electric Boogaloo", "Aquaman", "Starfire"])
  if block
     block
  
mixin customer-content(title, btnLabel)
  div(style="margin-bottom: 90px")
    +button({title: btnLabel, position: 'right'})#saveLink
  h3
    i.icon-arrow-left.back-btn
    span= title
  div.clear-wrap.name-value
    +input('Name')
  div.section-wrap
    h4 Credentials
    div.clear-wrap
      +checkbox("credentials", ["Use Mobile Credentials"])
  div.clear-wrap
    h4 Intercom Connections
    div.clear-wrap
      +checkbox("intercomConnections", ["Comelit", "Butterfly", "GoToDoor"])
  div.clear-wrap
    h4 Theme
    div.clear-wrap
      segment-elem.half
        x-cell
          +select(["Default", "Reckless Abandon", "Rocky Road", "Vanilla Sky"])
        x-cell
  if block
     block
