extend __core__/default
include mixins
block content
	+panel().light
		+configure-customer-content('New Customer', 'Create')
block script
	script.
		$('.back-btn').on('click', function() {
			history.back(-1);
		});
