extend __core__/default
block content
	+panel().light
		h3 PDK
		p Customers
		- var i = 0
		+loop(3)
			segment-elem.fourths
				+loop(4)
					x-cell
						a(href="level-three-customers.html")
							div.clear-wrap
								segment-elem.thirds
									x-minor
										+porthole(60)
									x-major
										p= titles[i++] + " Company"
					
